@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #525252;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-blink: blink 1.4s infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@keyframes blink {
  0%, 20% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}
